@media (max-width: 1200px) {
  #slider.slider-price {
    position: relative;
  }

  .promo-messangers {
    display: none;
  }

  .video video {
    max-width: 100%;
  }

  #slider > div.slider-price > p {
    backdrop-filter: blur(33px);
    margin-top: 6px;
    border-radius: var(--radius);
  }

  #slider > .slider-container {
    display: none;
  }
  
  .content-container .content-item {
    width: 100vw;
    height: 90vh;
  }

  .promo-text {
    top: 40vh;
    width: 80vw;
  }

  body > footer {
    text-align: center;
    height: 200px;
    justify-content: space-around;
  }

  /* .container {
    display: inherit;
  } */
}
