@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
@import url(form.css);


:root {
  --color-theme: #feb40f;
  --gray: #ebeff2;

  --color-theme-up: color-mix(in srgb,var(--color-theme),white 20%);
  --color-theme-down: color-mix(in srgb,var(--color-theme),black 20%);

  --color-theme-dark: #c70000;
  --color-theme-dark-up: color-mix(in srgb,var(--color-theme-dark),white 20%);
  --color-theme-dark-down: color-mix(in srgb,var(--color-theme),black 20%);

  --color-warning: #FFECA1;
  --color-warning-down: rgba(255, 236, 161, 0.2);

  --red: red;

  --green: rgb(6, 157, 6);
  --white: #FFF;
  --black: rgb(68, 63, 63);
  --gray-gradient: rgba(138, 170, 255, 0.1);

  --border: 1px solid var(--color-theme);
  --height-header: 50px;
  --padding: 5px;
  --margin: 5px;
  --radius: 18px;
  --shadow: none;
  --width-scroll-bar: 5px;
  --shadow: none;
  --blur: 10px;

  --header-height: 50px;

  --z-header: 90;
  --z-messangers: 80;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
  transition-duration: 200ms;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  background: var(--white);
  color: var(--black);
  animation: showBody 0.2s linear; 
  cursor: none;
}

body > header {
  position: fixed;
  width: 100vw;
  height: var(--header-height);
  z-index: var(--z-header);
  background: var(--color-theme);
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  cursor: none;
}

hr {
  margin: 1rem;
}

section#content {
  margin-top: var(--header-height);
}

section#start {
  width: 100vw;
  height: 100vh;
  background: var(--white);
  padding: 1rem;
}

.promo-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../imgs/promo.jpg");
  background-size: cover;
  background-position: center;
  border-radius: var(--radius);
  animation: promoImages 33s infinite ease-in-out;
}

.promo-1 { background-image: url("../imgs/promo-1.jpg"); }
.promo-2 { background-image: url("../imgs/promo-2.jpg"); }
.promo-3 { background-image: url("../imgs/promo-3.jpg"); }
.promo-4 { background-image: url("../imgs/promo-4.jpg"); }

@keyframes promoImages {
  0%, 100% {
    background-image: url("../imgs/promo-1.jpg");
  }
  25% {
    background-image: url("../imgs/promo-2.jpg");
  }
  50% {
    background-image: url("../imgs/promo-3.jpg");
  }
  75% {
    background-image: url("../imgs/promo-4.jpg");
  }
}

.promo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  top: 20px;
  backdrop-filter: blur(10px);
  height: 50px;
  padding: 1rem;
}

.promo-phone {
  color: var(--white);
  font-size: 1.3rem;
  text-decoration: none;
}

.promo-messangers > a > img {
  height: 40px;
}

.promo-messangers > a > img.telegram-icon {
  height: 38px;
  margin-left: 6px;
  margin-bottom: 1px;
}

.messangers {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 2rem;
  right: -200px;
  z-index: var(--z-messangers);
}

.messangers > a > img {
  width: 50px;
}

.messangers > a > img.telegram-icon {
  margin-top: 6px;
  width: 46px;
}

.promo-text {
  position: relative;
  top: 60vh;
  left: 1rem;
  width: 50%;
  padding: 10px;
  border-radius: var(--radius);
  font-size: 3rem;
  color: var(--white);
  backdrop-filter: blur(10px);
}

.promo-text > span {
  display: block;
  color: var(--color-theme);
  font-size: 2.5rem;
}

section#content,
section#slider {
  margin: 1rem;
  padding: 1rem;
  padding-bottom: 5rem;
  border-radius: var(--radius);
  min-height: 50vh;
  width: calc(100vw - 2rem);
  background: var(--gray);
}

#slider.slider-container {
  position: relative;
}

section#content > h2,
section#slider > h2 {
  font-size: 2rem;
  margin: 1rem;
}

.content-container,
.slider-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider-item:nth-child(1) {background: url("../imgs/slider/1.webp");}

.slider-item:nth-child(2) {background: url("../imgs/slider/2.webp");}

.slider-item:nth-child(3) {background: url("../imgs/slider/3.webp");}

.slider-item:nth-child(4) {background: url("../imgs/slider/4.webp");}

.slider-item:nth-child(5) {background: url("../imgs/slider/5.webp");}

.content-item:nth-child(1) {background: url("../imgs/content/1.webp")}

.content-item:nth-child(2) {background: url("../imgs/content/2.webp")}

.content-item:nth-child(3) {background: url("../imgs/content/3.webp")}

.content-item:nth-child(4) {background: url("../imgs/content/4.webp")}

.content-item:nth-child(5) {background: url("../imgs/content/5.webp")}

.content-item:nth-child(6) {background: url("../imgs/content/6.webp")}

.content-item:nth-child(7) {background: url("../imgs/content/7.webp");}

.content-item:nth-child(8) {background: url("../imgs/content/8.webp");}

.content-item:nth-child(9) {background: url("../imgs/content/9.webp");}

.content-item:nth-child(10) {background: url("../imgs/content/10.webp");}

.content-item:nth-child(11) {background: url("../imgs/content/11.webp");}

.content-item:nth-child(12) {background: url("../imgs/content/12.webp");}

.content-item:nth-child(13) {background: url("../imgs/content/13.webp");}

.content-item:nth-child(14) {background: url("../imgs/content/14.webp");}

.content-item:nth-child(15) {background: url("../imgs/content/15.webp");}

.content-item:nth-child(16) {background: url("../imgs/content/16.webp");}

.content-item:nth-child(17) {background: url("../imgs/content/17.webp");}

.content-item:nth-child(18) {background: url("../imgs/content/18.webp");}

.content-item:nth-child(19) {background: url("../imgs/content/19.webp");}

.content-item:nth-child(20) {background: url("../imgs/content/20.webp");}

.content-item:nth-child(21) {background: url("../imgs/content/21.webp");}

.content-item:nth-child(22) {background: url("../imgs/content/22.webp");}

.content-item:nth-child(23) {background: url("../imgs/content/23.webp");}

.content-item:nth-child(24) {background: url("../imgs/content/24.webp");}

.content-container .content-item,
.slider-container .slider-item {
  position: relative;
  width: 23vw;
  height: 55vh;
  margin-bottom: 1rem;
  border-radius: var(--radius);
  transition-duration: 3s;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-container .slider-item {
  width: 15vw;
  height: 45vh;
  scroll-snap-align: start;
}

.slider-container .slider-item:hover,
.content-container .content-item:hover {
  filter: contrast(50%);
}

.content-item-description {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 20px;
  padding: 10px;
  backdrop-filter: blur(10px);
}

.content-item-description .price {
  display: block;
  font-size: 1.6rem;
  color: var(--white);
  text-align: center;
}

.content-description,
.slider-description {
  position: relative;
  width: 70vw;
  left: 2rem;
}

.content-description > h1, h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.slider-price {
  text-align: center;
  font-size: 2rem;
  color: var(--white);
  background: url("../imgs/promo-3.jpg");
  background-size: cover;
  padding: 1rem;
  border-radius: var(--radius);
}

body > footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 100vw;
  background: var(--black);
  color: var(--white);
  padding: 1rem;
  margin: 1rem 0 0 1rem;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--raidus);
}

.copyright {
  text-align: center;
}

.video {
  display: flex;
  justify-content: center;
}
.video video {
  border-radius: var(--radius);
}

a.btn-center {
  position: relative;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
}

button.btn {
  border: none;
  color: var(--white);
  background: var(--color-theme);
  border-radius: var(--radius);
  font-size: 1.6rem;
  padding: 5px 15px;
}